.landing {
  position: relative;
  background: url("./img/showcase1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}